a {
  color: #C32A2A;
}

.views-slideshow-controls-text-previous,
.views-slideshow-controls-text-next {
  background: url(../img/arrows_slider.png) left top;
  height: 32px;
  left: 0;
  position: absolute;
  text-indent: -9999em;
  top: 43%;
  width: 32px;
  z-index: 10;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.views-slideshow-controls-text-next {
  background: url(../img/arrows_slider.png) right top;
  left: auto;
  right: 0;
}

#header {
  background: #990202;
  border-radius: 0 0 4px 4px;
  margin-bottom: 30px;
  position: relative;
  z-index: 4;
}

body {
  background: #D5D5D5;
}
#block-menu-block-maps-commerce-demo-1 li ul {
  margin-top: -38px;
  margin-left: 100%;
}
#block-menu-block-maps-commerce-demo-1 {
  background: #840000;
}

#block-menu-block-maps-commerce-demo-1 li.active a, #block-menu-block-maps-commerce-demo-1 li.expanded:hover a {
  background: #660000;
}

#block-menu-block-maps-commerce-demo-1 li.expanded:hover ul a:hover,
#block-menu-block-maps-commerce-demo-1 li.expanded:hover ul a.active,
#block-menu-block-maps-commerce-demo-1 li a.active-trail,
#block-menu-block-maps-commerce-demo-1 li a:hover {
  background: #5F0000;
}

#block-search-form input.form-text {
  background-color: #C32A2A;
  color: white;
}

#block-search-form input.form-text:focus {
  background-color: #D35454;
}

.item-list .pager a {
  color: #C32A2A;
}

.menu li:hover .menu {
  display: none !important;
}

.menu li:hover > .menu {
  display: block !important;
}

.view-content {
  position: relative;
}

.views_slideshow_cycle_main {
  position: relative;
}

.views-slideshow-controls-bottom {
  position: absolute;
  width: 100%;
  top: 50%;
}

.views_slideshow_cycle_main .views-slideshow-controls-text-next {
  float: right;
}